<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="sim" class="org.example.spring.IOC.Ntc"></bean>-->
    <bean id="sim" class="org.example.spring.IOC.Ncell"></bean>

    <bean id ="student" class="org.example.spring.IOC.beanfactory.Student">
        <constructor-arg name="name" value="Alisha"></constructor-arg>
        <constructor-arg name="age" value="29"></constructor-arg>
    </bean>

    
    <bean id="info" class="org.example.spring.IOC.setterInjection.infoBean">
        <property name="name" value="Sudip"/>
        <property name="title" value="Software Engineer"/>
        <property name="map" >
            <map>
                <entry key="Testing" value="Testing is good"></entry>
                <entry key="Talk" value="Communication di needed"></entry>
            </map>
        </property>
    </bean>
</beans>